@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  /* text-align: center; */
  /* background: #f3f7fa; */
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: #4a4a4a;
  width: 754px;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 120px;
}
.app-wrapper {
  /* border: 1px solid red; */
  /* min-height: 100vh; */
  /* width: 754px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.header {
  /* border: 1px solid red; */
  padding: 50px 0;
  text-align: center;
}

.main {
  /* border: 1px solid red; */
  flex: 1 1 auto;
  display: grid;
  grid-template-areas:
    "sidebar filter"
    "sidebar tickets";
}
@media (max-width: 320px) {
  .main {
    /* border: 1px solid red; */
    flex: 1 1 auto;
    display: grid;
    grid-template-areas:
      "sidebar"
      "filter"
      "tickets";
  }
}

.dumi {
  grid-area: sidebar;
}
.sidebar {
  font-size: 14;
  padding: 20px;
  width: 232px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-right: 20px;
}
.sidebar h3 {
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.sidebar form {
  font-weight: 400;
  text-transform: none;
  margin: 0 -20px;
  user-select: none;
}
.sidebar label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  display: block;
  padding: 10px 20px 10px 50px;
}
.sidebar label:hover {
  background: #8cc9fc;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checker {
  position: absolute;
  /* top: 2px; */
  width: 20px;
  height: 20px;
  margin-left: -30px;
  background-image: url(./assets/checker-off.svg);
}
.input:checked + .checker {
  background-image: url(./assets/checker-on.svg);
}
.filter2 {
  grid-area: filter;
  min-width: 502px;
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}
.filter2__element {
  background-color: #ffffff;
  border: 1px solid #dfe5ec;
  line-height: 50px;
  width: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}
.filter2__element:hover {
  background: #2196f3;
  color: #ffffff;
}
.filter2__element__clicked {
  background: #2196f3;
  color: #ffffff;
  /* border: 0; */
}
.filter2__low-price {
  /* border-right: 0; */
  border-radius: 15px;
}
.filter2__faster {
  /* border-left: 0; */
  border-radius: 15px;
}
.filter2__optim {
  /* border-left: 0; */
  border-radius: 15px;
}

.tickets {
  grid-area: tickets;
}
.ticket {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 20px;
}

.ticket:last-child {
  margin-bottom: 0;
}
.ticket__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ticket__price {
  color: #2196f3;
  font-size: 24px;
  padding-top: 6px;
}
.ticket__logo {
  width: 140px;
}
.ticket_data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ticket_data:last-child {
  margin-bottom: 0;
}
.ticket_data__item:last-child {
  width: 140px;
}
.ticket_data__item__grey {
  color: #a0b0b9;
}
.inputButtonLoud {
  color: #ffffff;
  background: #2196f3;
  width: 502px;
  height: 45px;
  border-radius: 15px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ ;
